<!DOCTYPE html>

<html>
    <style>
        html * {
            line-height: 1.625;
            color: #181616;
            font-family: 'Courier New', Courier, monospace;
            }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Basic HTML Template</title>
    </head>
    <body>
        <center>
            <h1 style="font-size:40pt">
            Image Caption</h1>
        </center>
    </body>
    <body style="background-color:rgb(233, 217, 198)">
        <center>
            <img src="{{ image_file }}"class="image" border="3"
                style="max-height:90%;"/>
            <p> {{ caption }}</p>
        </center>
    </body>
</html>

<!DOCTYPE html>
<html>
    <center>
        <body>
            <h1>Upload Another Image or Image URL</h1>
        </body>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type="text" name="image_url" placeholder="Image URL">
            <label for="language">Choose Language:</label> 
            <select name="language" id="language"> 
                <option value="English">English</option> 
                <option value="Spanish">Spanish</option> 
                <option value="Mandarin">Mandarin</option> 
                <option value="French">French</option> 
            </select>
            <input type=submit value=Upload>
        </form>
    </center>
</html>

